.historial-aux {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
	box-sizing: border-box;
}

.historial-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	box-sizing: border-box;
}

.historial-filtros {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	height: 50px;
}

.historial-filtros p a {
	color: #000;
	text-decoration: none;
}

.historial-filtros p a:hover {
	color: #46a;
	text-decoration: underline;
}

.historial-filtros-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 1em;
	background: none;
	border: none;
	gap: 5px;
}

.historial-filtros-select select {
	width: 100%;
	overflow: hidden;
}

.historial-titulo {
	display: flex;
	width: 100%;
	justify-content: start;
	align-items: center;
	font-size: 2.5em;
	font-weight: 500;
	padding-bottom: 15px;
}

.historial-buscador-container {
	display: flex;
	width: 100%;
	justify-content: start;
	align-items: center;
	padding: 0;
	padding-bottom: 35px;
}

.historial-buscador div form {
	padding: 0;
	height: 40px;
	justify-content: flex-start;
}

.historial-pedidos-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 50px;
}

.historial-sin-pedidos {
	text-align: center;
	display: flex;
	width: 100%;
	justify-content: center;
}

.caja-historial {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 75px;
	flex-wrap: wrap;
	/* background: red; */
	padding: 50px;
	text-align: left;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 6px 24px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

.caja-historial h2 {
	font-size: 1.5em;
	margin: 0;
	width: 100%;
	padding: 0;
	padding-bottom: 10px;
	text-align: left;
	font-weight: 500;
	border-bottom: 1px solid #ccc;
}

.caja-historial-item {
	display: flex;
	flex-wrap: wrap;
	width: 95%;
	box-sizing: border-box;
	/* background: blue; */
}

.caja-historial-item-info {
	width: 50%;
	font-size: 3em;
	display: flex;
	/* background: green; */
}

.caja-historial-item-info-image {
	width: 40%;
	min-width: 75px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caja-historial-item-info-image img {
	width: 50%;
	min-width: 75px;
	object-fit: scale-down;
}

.caja-historial-item-info-container {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-evenly;
	font-size: 1em;
}

.caja-historial-item-info-container p {
	width: 100%;
	font-size: 0.4em;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.caja-historial-item-info-productos {
	color: rgba(0, 0, 0);
}

.caja-historial-item-status {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(10%, 1.2em, 1.4em);
}

.caja-historial-item-button-container {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caja-historial-item-button {
	background: #0092ff;
	border: none;
	border-radius: 10px;
	font-size: 1em;
	width: 120px;
	min-width: 120px;
	height: 35px;
	color: #fff;
}

.span-item {
	font-weight: normal;
}

@media (max-width: 700px) {
	.caja-historial-item-status {
		width: 100% !important;
		order: 1;
		justify-content: flex-start;
		padding-bottom: 20px;
	}

	.caja-historial-item-info {
		width: 100% !important;
		order: 2;
	}

	.caja-historial-item-button-container {
		width: 100% !important;
		order: 3;
		justify-content: center;
		padding-top: 20px;
	}
}
